<h1><%= @studio.name %> Yogis</h1>
<h3>Studio ID: <%= @studio.id %></h3>
<a href="/studios/<%= @studio.id %>/yogis?sort=true">Sort by Name</a>

<p><%= form_tag studio_yogis_index_path(@studio), method: :get do %></p>
  <label for="min_age">Minimum Age:</label>
  <input type="number" id="min_age" name="min_age" required>
  
  <button type="submit">Filter by Minimum Age</button>
<p><% end %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Member?</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  <thead>
  <tbody>
    <% @yogis.each do |yogi| %>
      <tr>
        <td><%= yogi.name %></td>
        <td><%= yogi.age %></td>
        <td><%= yogi.member? ? 'Yes' : 'No' %></td>
        <td><%= yogi.created_at %></td>
        <td><%= yogi.updated_at %></td>
        <td><%= link_to 'Edit', edit_yogi_path(yogi) %>
        <td><%= button_to 'Delete', delete_yogi_path(yogi), method: :delete %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= button_to 'New Yogi', new_studio_yogi_path(@studio), method: :get %></p>
<p><%= button_to "All #{@studio.name} Yogis", studio_yogis_index_path(@studio), method: :get %></p>