<h1>Yogi Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Member?</th>
      <th>Studio ID</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  <thead>
  <tbody>
    <% @yogis.each do |yogi| %>
      <tr>
        <td><%= link_to yogi.name, yogi_path(yogi) %></td>
        <td><%= yogi.age %></td>
        <td><%= yogi.member? ? 'Yes' : 'No' %></td>
        <td><%= yogi.studio_id %></td>
        <td><%= yogi.created_at %></td>
        <td><%= yogi.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>



