<h3>Yogi Details</h3>

<p>Name: <%= @yogi.name %></p>
<p>Age: <%= @yogi.age %></p>
<p>Studio ID: <%= @yogi.studio_id %></p>
<p>Member? <%= @yogi.member? ? 'Yes' : 'No' %></p>
<p>Created Date: <%= @yogi.created_at %></p>
<p>Updated Date: <%= @yogi.updated_at %></p>

<p><%= button_to 'Update Yogi', edit_yogi_path(@yogi), method: :get %></p>
<p><%= button_to 'Delete Yogi', delete_yogi_path(@yogi), method: :delete %></p>
