<h3>Yogi Details</h3>

<p>Name: <%= @Yogi.name %></p>
<p>Age: <%= @Yogi.age %></p>
<p>Member? <%= @Yogi.member %></p>
<p>Created Date: <%= @Yogi.created_at %></p>
<p>Updated Date: <%= @Yogi.updated_at %></p>

<p><a href="/">Home</a></p>
