<h3>Yogi Details</h3>

<p>Name: <%= @yogi.name %></p>
<p>Age: <%= @yogi.age %></p>
<p>Studio ID: <%= @yogi.studio_id %></p>
<p>Member? <%= @yogi.member? %></p>
<p>Created Date: <%= @yogi.created_at %></p>
<p>Updated Date: <%= @yogi.updated_at %></p>

