<h1>Edit <%= @studio.name %></h1>
<%= form_with(url: update_studio_path(@studio), method: :patch,  data: { turbo: false }) do |form| %>
  <label for="name">Name:</label>
  <%= form.text_field :name, required: true %><br><br>

  <label for="rating">Rating:</label>
  <%= form.number_field :rating, min: 1, max: 5, required: true %><br><br>

  <label for="accepting_members">Accepting Members?</label>
  <%= form.hidden_field :accepting_members, value: false %>
  <%= form.check_box :accepting_members %><br><br>

  <button type="submit">Update Studio</button>
<% end %>