<h1>Create New Yoga Studio</h1>
<%= form_with(url: studios_path, method: :post, data: { turbo: false }) do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name, id: 'name', required: true %><br><br>
  
  <%= form.label :rating, 'Rating:' %>
  <%= form.number_field :rating, id: 'rating', min: 1, max: 5, required: true %><br><br>
  
  <%= form.label :accepting_members, 'Accepting Members?' %>
  <%= form.hidden_field :accepting_members, value: false %>
  <%= form.check_box :accepting_members, id: 'accepting_members' %><br><br>
  
  <%= form.submit 'Create Studio' %>
<% end %>