<h3>Studio Details</h3>

<p>Name: <%= @studio.name %></p>
<p>Rating: <%= @studio.rating %></p>
<p>Accepting Members? <%= @studio.accepting_members? ? 'Yes' : 'No' %></p>
<p>Yogis: <%= @studio.yogis_count %></p>
<p>Created Date: <%= @studio.created_at %></p>
<p>Updated Date: <%= @studio.updated_at %></p>


<p><%= button_to 'Update Studio', edit_studio_path(@studio), method: :get %></p>
<p><%= button_to 'View Yogis', studio_yogis_index_path(@studio), method: :get %></p>
<p><%= button_to 'Delete Studio', delete_studio_path(@studio), method: :delete %></p>


