<h3>Studio Details</h3>

<p>Name: <%= @studio.name %></p>
<p>Rating: <%= @studio.rating %></p>
<p>Accepting Members? <%= @studio.accepting_members %></p>
<p>Created Date: <%= @studio.created_at %></p>
<p>Updated Date: <%= @studio.updated_at %></p>

<p><a href="/">Home</a></p>
