<!DOCTYPE html>
<html>
  <head>
    <title>YogaStudio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a><%= link_to 'Home', root_path %></a>
      <div>
        <a><%= link_to 'All Studios', studios_path %></a>
        <a><%= link_to 'All Yogis', yogis_path %></a>
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>

